
#slideshow1-nav a{background:transparent url(/images/pagenav.png) no-repeat 0 0 ; float:left; height:15px; overflow:hidden; text-decoration:none; text-indent:-1234px; width:16px;}
#slideshow1-nav a.activeSlide {background-position:-32px 0;}
